asn1crypto==0.24.0
autopep8==1.4.2
configparser==3.5.0
cryptography==2.1.4
enum34==1.1.6
future==0.17.0
futures==3.2.0
gyp==0.1
idna==2.6
ipaddress==1.0.17
jedi==0.13.1
keyring==10.6.0
keyrings.alt==3.0
mccabe==0.6.1
mysql-connector-python==2.1.6
mysql-utilities==1.6.4
paramiko==2.10.1
parso==0.3.1
pexpect==4.2.1
pluggy==0.8.0
pyasn1==0.4.2
pycodestyle==2.4.0
pycrypto==2.6.1
pydocstyle==3.0.0
pyflakes==2.0.0
pygobject==3.26.1
pyodbc==4.0.17
pysqlite==2.7.0
python-jsonrpc-server==0.0.2
python-language-server==0.21.2
pyusb==1.0.0
pyxdg==0.25
rope==0.11.0
SecretStorage==2.3.1
six==1.11.0
snowballstemmer==1.2.1
urwid==2.0.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
yapf==0.24.0
